<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jtrip.mybatis.mapper.QNAMapper">

	<select id="QNASelectList"
		resultType="co.jtrip.qna.service.QNAVO">
		SELECT * FROM QNA

	</select>

	<select id="QNASelect" resultType="co.jtrip.qna.service.QNAVO">
		select MEMBER_ID, QNA_NO,
		QNA_TITLE, QNA_CONTENT
		FROM QNA;

	</select>


</mapper>



	

