<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jtrip.mybatis.mapper.NoticeMapper">


	<select id="NoticeSelectList"
		resultType="co.jtrip.notice.command.NoticeSelectList">
		SELECT *
		FROM MEMBER M, Notice N
		WHERE M.MEMBER_ID =
		N.MEMBER_ID;

	</select>

	<select id="NoticeSelect"
		resultType="co.jtrip.notice.command.NoticeSelect">
		SELECT * FROM WHERE MEMBER_ID; <!-- ?? select에 sql문 어떻게 넣어야할까?? -->


	</select>
</mapper>