<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jtrip.mybatis.mapper.QNAMapper">

	<select id="QNASelectList"
		resultType="co.jtrip.qna.command.QNASelectList">
		SELECT Q.QNA_NO, Q.QNA_TITLE, M.MEMBER_ID, Q.QNA_DATE
		FROM
		MEMBER M, QNA Q
		WHERE M.MEMBER_ID = Q.MEMBER_ID;

	</select>

	<select id="QNASelect"
		resultType="co.jtrip.qna.command.QNASelect">
		SELECT M.MEMBER_ID, M.MEMBER_NAME, Q.QNA_TITLE, Q.QNA_NO,
		Q.QNA_DATE,
		Q.QNA_CONTENT
		FROM MEMBER M, QNA Q
		WHERE M.MEMBER_ID = Q.MEMBER_ID;

	</select>





</mapper>



	

