<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.prj.mypage.mapper.MemberMapper">

	<select id="memberSelectList"
		resultType="co.micol.prj.mypage.service.MemberVO">
		SELECT * FROM MEMBER;


	</select>

	<select id="memberSelect"
		resultType="co.micol.prj.mypage.service.MemberVO">
		SELECT MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_TEL
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}

	</select>

	<update id="memberUpdate"
		parameterType="co.micol.prj.mypage.service.MemberVO">

		UPDATE MEMBER
		SET
		MEMBER_PASSWORD = #{memberPassword},
		MEMBER_TEL = #{memberTel}
		WHERE MEMBER_ID = #{memberId}
	</update>

	<delete id="memberDelete"
		parameterType="co.micol.prj.member.command.MemberDelete">

		delete from table
		where = #{memberID}

	</delete>

</mapper>